# Executables
*
!/**/
!*.*
*.exe

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Compiled Static libraries
*.la
*.a
*.lib

# Do not ignore makefiles
![Mm]akefile

# VSCode files
.vscode

# .zip files
*.zip